@model FrontEnd.Models.StudentViewModel

@{
    ViewBag.Title = "DateSheet";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <hr>
            <hr>
            <p>
                @Html.ActionLink("Go Back", "StudentLoginView", "Student")
            </p>
            <p>
                @Html.ActionLink("View Time Table", "Index", "Student")
            </p>
         </div>
        <div class="col-sm-8 text-left">
            <h1>Computer Science and Engineering Department</h1>
            <h2>Date Sheet</h2>
            <h3>Session Detail</h3>
            <TABLE align="center" BORDER="7" WIDTH="60%" CELLPADDING="5" CELLSPACING="4">
                <TR>
                    <TH COLSPAN="5">
                        <H3><BR>Date Sheet</H3>
                    </TH>
                </TR>
                <TR>
                    <th>Subject Name</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Room No</th>
                </TR>
                <tr>
                    <TD>Software Engineering</TD>
                    <TD>Monday</TD>
                    <TD>28/10/2018</TD>
                    <TD>N2</TD>
                </tr>
                <tr>
                    <TD>Artifical Intelligence</TD>
                    <TD>Tuesday</TD>
                    <TD>29/10/2018</TD>
                    <TD>N2</TD>
                </tr>
                <tr>
                    <TD>Probability</TD>
                    <TD>Wednesday</TD>
                    <TD>30/10/2018</TD>
                    <TD>N2</TD>
                </tr>
                <tr>
                    <TD>Analysis of Algorithem</TD>
                    <TD>Thursday</TD>
                    <TD>31/10/2018</TD>
                    <TD>N2</TD>
                </tr>
                <tr>
                    <TD>Theory of Automata</TD>
                    <TD>Friday</TD>
                    <TD>01/11/2018</TD>
                    <TD>N2</TD>
                </tr>
            </TABLE>

            <hr>

        </div>
    </div>
</div>
