@model FrontEnd.Models.StudentViewModel 

@{
    ViewBag.Title = "TimeTable";
}
<h1>
    2016 Session
</h1>
<TABLE align="center" BORDER="7" WIDTH="60%" CELLPADDING="5" CELLSPACING="4">
    <TR>
        <TH COLSPAN="7">
            <H3><BR>TimeTable</H3>
        </TH>
    </TR>
    <TR>
        <th>Day</th>
        <th>Room</th>
        <th>Section</th>
        <th>8:00am to 11:00am </th>
        <th>11:00am to 02:00pm </th>
        <th>02:00pm to 04:00pm </th>
    </TR>
    <tr>
        <TD>Monday</TD>
        <TD>N2</TD>
        <TD>B</TD>
        <TD>SE</TD>
        <TD>TOA</TD>
        <TD>PRV</TD>

    </tr>
    <tr>
        <TD>Tuesday</TD>
        <TD>N2</TD>
        <TD>B</TD>
        <TD>AI</TD>
        <TD>AOA</TD>
        <TD>SE LAB</TD>
    </tr>
    <tr>
        <TD>Wednesday</TD>
        <TD>N2</TD>
        <TD>B</TD>
        <TD>AI LAB</TD>
        <TD>PRV</TD>
        <TD>TOA</TD>
    </tr>
    <tr>
        <TD>Thursday</TD>
        <TD>N2</TD>
        <TD>B</TD>
        <TD>AI</TD>
        <TD>AOA</TD>
        <TD>TOA</TD> 
    </tr>
    <TD></TD>
    <TD></TD>
    <TD></TD>
    <TD></TD>
    <TD></TD>
    <TD></TD>
</TABLE>









