@{
    ViewBag.Title = "About";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <br>
            <br>
            <p> @Html.ActionLink("Admin", "AdminViewModel", "Admin")</p>
            <p> @Html.ActionLink("Student", "StudentViewModel", "Student")</p>
        </div>
        <div class="col-sm-8 text-left">
            <h2>Computer Science and Engineering Department</h2>
            <p>The Department of Computer Science and Engineering, originally established as department of Computer Science is one of the most prominent and oldest center of computer education in the country. The department offers the following degree programs:

                        <ul>
                            <li> Computer Science: Ph.D., M.Sc., B.Sc.</li>
                            <li> Computer Engineering: Ph.D., M.Sc., B.Sc.</li>
                        </ul>
            Established as department of Computer Science in 1991, its history dates back to the year 1968 when University of Engineering and Technology Lahore established a Computer Center. This center was equipped with a contemporary IBM 1130 third generation computer that batch processed submitted jobs. The computer was equipped with a disk and a monitor. The center was responsible for planning and teaching courses in Computer Science and Numerical Analysis, which formed an integral part of the curricula for all disciplines of B.Sc. Engineering degree in the university. The center also offered short term computer courses for other private and public sector organizations. In 1978, it started offering a Masters Degree program in Computer Science, thus becoming the first center in the country to offer Computer Science degree.
            The department holds an endowment chair given by His Majesty Sultan Qaboos Bin Said-Al-Said, Sultan of Oman.
            </p>
            <hr>

        </div>
    </div>
</div>

        
