@model FrontEnd.Models.VisitorViewModel

@{
    ViewBag.Title = "Academics";
}

<h1>
    <center>Department of Computer Science & Engineering</center>
</h1>
<h2><center>Undergraduate Program</center></h2>
<p>

    

    <li>BSc. Computer Science</li>
    <li>BSc. Computer Engineering</li>
    A four years degree program leading towards a B.Sc. (Honours) Computer Science was introduced by the department in 1999 and another 4 years B.Sc. program in Computer Science and Engineering in 2001. For students enrolling from September 2003 onwards, B.Sc programs have been re-named and modified into four years B.Sc. Computer Science (CS) and four years B.Sc. Computer Engineering (CE) programs. Three students each from the graduating class of Computer Science and Computer Engineering may opt for a second degree in Computer Engineering and Computer science as the case may be, subject to fulfilment of prescribed conditions, from fall semester 2011. The B.Sc CS program is accredited by National Computing Education Accreditation Council (NCEAC) and B.Sc. (CE) program is accredited by Pakistan Engineering Council (PEC).
    PhD. program in Computer Science was launched in 2002 and twenty three students have completed their Ph.D. degree to date from this department. M.Sc. and PhD programs in Computer Engineering have been launched from 2007.

</p>

<h2><center>Graduate Program</center></h2>
<p>
    <b>Offered Programs:</b>
    <li>MS Computer Science</li>
    <li>M.Sc. Computer Engineering</li>
    <li>Ph.D Computer Science</li>
    <li>Ph.D Computer Engineering</li>
    <li>Graduate program</li>

    The Department of Computer Science and Engineering, originally established as department of Computer Science is one of the most prominent and oldest centers of computer education in the country. The department offers the following postgraduate degrees:

</p>
<ol>
    <li>Ph.D. Computer Engineering</li>
    <li>Ph.D. Computer Science</li>
    <li>M.S Computer Science - with specialization in</li>
    <ul>
       <li>Software Engineering</li> 
        <li>Database Systems</li>
        <li>Systems Engineering</li>
        <li>Artificial Intelligence</li>
        <li>Web Engineering</li>
        <li>Speech and Language Processing</li>
        <li>Bio-informatics</li>
        <li>M.S Computer Engineering</li>
        <li>Signal Processing Area</li>
        <li>Communication and Telecommunication Area</li>
        <li>Control Systems Area</li>
        <li>Machine Intelligence Area</li>
        <li>VLSI Design Area</li>
        <li>Speech and Language Processing</li>
    </ul>
</ol>


<ol>
    Established as department of Computer Science in 1991, its history dates back to the year 1968 when University of Engineering and Technology Lahore established a Computer Center. This center was equipped with a contemporary IBM 1130 third generation computer that batch processed submitted jobs. The computer was equipped with a disk and a monitor. The center was responsible for planning and teaching courses in Computer Science and Numerical Analysis, which formed an integral part of the curricula for all disciplines of B.Sc. Engineering degree in the university. The center also offered short term computer courses for other private and public sector organizations. In 1978, it started offering a Masters degree program in Computer Science, thus becoming the first center in the country to offer Computer Science degree. A 4 years degree program leading towards a B.Sc. (Hons) Computer Science was introduced by the department in 1999 and another 4 years B.Sc. program in Computer Science and Engineering in 2001. For students enrolling from September 2003 onwards, B.Sc programs have been re-named and modified into four years B.Sc. Computer Science and four years B.Sc. Computer Engineering programs. Ph.D. program in Computer Science was launched in 2002 and seven students have completed their Ph.D. degree in Computer Science to this date.
    With expansion in academic programs, computer laboratories in the department have risen to nine spread over two buildings. These laboratories are equipped with 350 P-IV computers fully networked with state of the art servers. Computer to student ratio is 1:1. The department is proud of its no-piracy policy. All the operating systems installed are either licensed or open-source operating systems. Department’s computing facilities are linked with Research Center, Main Library and other teaching departments through a fiber optic backbone. Multimedia projectors are fitted where required and Internet facility is available. Portion of a third building is available with the department for holding lectures.
    In addition, the department has two Electronics Systems Laboratories, one Industrial Automation Laboratory and One Embedded Systems Laboratory. The department holds an endowment chair given by His Majesty Sultan Qaboos Bin Said-Al-Said, Sultan of Oman. Currently, two professors are sharing this chair.
    Academic Policies Specific to Computer Science and Engineering Department
        The following policies are in addition to M.Sc Semester System regulations of the University as given in the prospectus.

    <li>
        A minimum of 30 credit hours are required for the completion of the program. Each course corresponds to three credit hours and the M.Sc. thesis corresponds to 6 credit hours. As such, a student is required to complete 8 courses and one thesis.
    </li>
    <li>
        A set of four core courses are compulsory for each student enrolled in the program. A newly admitted student is advised to register, preferably, in all the four courses during the first semester (starting September-October).
    </li>
    <li>
        The M.Sc CS students are required to study at least two courses in their area of specialization. The remaining two may be selected from other specializations. The students are advised to complete these specialization courses in two or more semesters after the completion of core courses in the first semester.
    </li>
    <li>
        A student may register for more than eight courses, if he (she) so desires, without any added advantage.
    </li>
    <li>
        M. Sc CS students opting for Systems Engineering specialization or M.Sc. Computer Engineering students may register, as electives, from the approved list (as given in M.Sc. prospectus) of M.Sc. courses being offered in Electrical Engineering department.
    </li>
    The following scheme of study is only a partial list. Additional courses may be added as and when required subject to availability of teachers.
    <li>A M.Sc CS student can register only with a supervisor from the faculty members of Computer Science and Engineering department. However a co-supervisor can be chosen from another department. Whereas, M.Sc Computer Engineering students can opt for supervisor from Electrical Engineering Department as well.</li>
</ol>
Scheme of Study
<ul>
    <li>M.Sc/ PhD Computer Science</li>
    <li>M.Sc/ PhD Computer Engineering</li>
</ul>
</p>

