@model FrontEnd.Models.VisitorViewModel

@{
    ViewBag.Title = "Achievements";
}

<h1>
    Achievements
</h1>
<TABLE align="center" BORDER="7" WIDTH="60%" CELLPADDING="5" CELLSPACING="4">
    <TR>
        <TH COLSPAN="5">
            <H3><BR>Avhievements</H3>
        </TH>
    </TR>
    <TR>
        <th>Registration Number</th>
        <th>Name</th>
        <th>Achievement Detail</th>
    </TR>    
    <tr>
        <td>2016-CS-115</td>
        <td>Hamza Nasir</td>
        <td>Gold Medalist</td>
    </tr>
    <tr>
        <td>2016-CS-155</td>
        <td>Aqsa Zahid</td>
        <td>Gold Medalist</td>
    </tr>
</TABLE>
