@model FrontEnd.Models.VisitorViewModel

@{
    ViewBag.Title = "Events";
}

<h1>
    Events
</h1>
<TABLE align="center" BORDER="7" WIDTH="60%" CELLPADDING="5" CELLSPACING="4">
    <TR>
        <TH COLSPAN="5">
            <H3><BR>Events</H3>
        </TH>
    </TR>
    <TR>
        <th>Event Number</th>
        <th>Name</th>
        <th>Event Detail</th>
    </TR>
    <tr>
        <td>Ev-1</td>
        <td>Ceremony</td>
        <td>Final Year Project Reward Ceremony</td>
    </tr>
    <tr>
        <td>Ev-2</td>
        <td>Orientation</td>
        <td>For the motivation of First year Students</td>
    </tr>
</TABLE>
