@model FrontEnd.Models.VisitorViewModel

@{
    ViewBag.Title = "Faculty";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <br>
            <br>
            <p> @Html.ActionLink("Admin", "AdminViewModel", "Admin")</p>
            <p> @Html.ActionLink("Student", "StudentLoginView", "Student")</p>
        </div>
        <div class="col-sm-8 text-left">
            <h2>Computer Science and Engineering Department</h2>
            <h3>Faculty</h3>
            <TABLE align="center" BORDER="7" WIDTH="60%" CELLPADDING="5" CELLSPACING="4">
                <TR>
                    <TH COLSPAN="5">
                        <H3><BR>Faculty</H3>
                    </TH>
                </TR>
                <TR>
                    <th>Member Name</th>
                    <th>Designation</th>
                    <th>Qualification</th>
                </TR>
                <tr>
                    <td>Samyan Wahla</td>
                    <td>Lecturer</td>
                    <td>MS-CE</td>
                </tr>
                <tr>
                    <td>Dr.Afzal</td>
                    <td>Professor</td>
                    <td>Phd</td>
                </tr>
            </TABLE>

            <hr>

        </div>
    </div>
</div>
