@model FrontEnd.Models.VisitorViewModel

@{
    ViewBag.Title = "Faculty";
}

<h1>
    Faculty
</h1>
<TABLE align="center" BORDER="7" WIDTH="60%" CELLPADDING="5" CELLSPACING="4">
    <TR>
        <TH COLSPAN="5">
            <H3><BR>Faculty</H3>
        </TH>
    </TR>
    <TR>
        <th>Member Name</th>
        <th>Designation</th>
        <th>Qualification</th>
    </TR>
    <tr>
        <td>Samyan Wahla</td>
        <td>Lecturer</td>
        <td>MS-CE</td>
    </tr>
    <tr>
        <td>Dr.Afzal</td>
        <td>Professor</td>
        <td>Phd</td>
    </tr>
</TABLE>
